<div class="global_navbar">
  <h1>Let's enjoy Life!!!</h1>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
    <div class="show_cocktail">
      <h1>More Information about <%= @cocktail.name %> </h1>
      <%= link_to "Back", cocktails_path %>
      <%= link_to "Add a new Dose", new_cocktail_dose_path(@cocktail)  %>
      <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description  %> - <%= dose.ingredient.name %></p>
      <%= link_to "Delete", dose_path(dose), method: :delete  %>
      <% end %>
    </div>
  </div>
<div class="col-xs-12 col-sm-6">

    <div class = show_drink>
<h1>show the text</h1>
    </div>
</div>
</div>
</div>
